<h2>My Profile</h2>
<br />
<div class="tab-disappear">
    <ul class="nav nav-tabs">
        <li><a href="~/Merchant/Profile">My Account</a></li>
        <li><a href="~/merchant/campaign">Campaign Manager</a></li>
        <li><a href="~/merchant/contact">Contact Manager</a></li>
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="~/Merchant/virtual">Virtual Office</a></li>
    </ul>
</div>
<div class="nav-disappear">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-list"></i> Navigation</a>
            <ul class="dropdown-menu">
                <li><a href="~/Merchant/Profile">My Account</a></li>
                <li><a href="~/merchant/campaign">Campaign Manager</a></li>
                <li><a href="~/merchant/contact">Contact Manager</a></li>
                <li class="active"><a href="#">Dashboard</a></li>
                <li><a href="~/Merchant/virtual">Virtual Office</a></li>
            </ul>
        </li>
    </ul>
</div>
<br />

<div class="panel panel-default">
    <div class="panel-body">
        <span class="glyphicon glyphicon-info-sign"></span>&nbsp; Dashboard!
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />