
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Public/Components/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Public/Components/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Public/Components/eMatch/css/main.css" rel="stylesheet" />
    <link href="~/Public/Components/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="~/Public/Components/jquery-1.11.0.min.js"></script>
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">eMatch</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="~/Merchant/Profile">Profile</a></li>
                    <li><a href="~/Merchant/Refer">Refer a Merchant</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-user"></i> @ViewBag.User</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            @*<li class="dropdown-header">Nav header</li>*@
                            <li><a href="~/Home/LogoutUser">Logout</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-question-circle"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search Offers..."> <a class="whitelink" href="#" title="Search"><div class="btn btn-warning"><i class="fa fa-search"></i></div></a>
                </form>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                @*<div class="col-sm-3 col-md-2 sidebar">
                        <ul class="nav nav-sidebar">
                            <li class="active"><a href="#">Dashboard</a></li>
                            <li><a href="#">Matches</a></li>
                            <li><a href="#">Profile</a></li>
                        </ul>
                    </div>*@
                <div class="main">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="push"></div>
    </div>

    <div class="footer navbar-footer navbar-inverse">
        <br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <h5><strong>Company</strong></h5>
                <a href="#" class="graylink small">About eMatch</a><br />
                <a href="#" class="graylink small">Press</a><br />
                <a href="#" class="graylink small">Jobs</a><br />
                <a href="#" class="graylink small">Blog</a>
            </div>
            <div class="col-md-3">
                <h5><strong>Follow Us</strong></h5>
                <button class="btn btn-default btn-sm"><i class="fa fa-twitter"></i></button>
                <button class="btn btn-default btn-sm"><i class="fa fa-facebook"></i></button>
                <button class="btn btn-default btn-sm"><i class="fa fa-google-plus"></i></button>
                <button class="btn btn-default btn-sm"><i class="fa fa-envelope"></i></button>
            </div>
            <div class="col-md-4"><h5><strong>Mobile</strong></h5></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10 small">
                © 2014 eMatch, Inc. All Rights Reserved. <a href="">Privacy Policy</a> <a href="">Terms of Use</a>
            </div>
        </div>
    </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="~/Public/Components/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/Public/Components/bootstrap/js/docs.min.js"></script>
</body>
</html>
<script type="text/javascript">
    //Chrome font-icon fix
    $(function () {
        if (!!window.chrome) { $('body').hide().show(); }
    });
</script>